In [160]:
# Se importan las librerias
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

In [161]:
# Carga de datos
test = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/hospitalizaciones_test.csv')
train = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/hospitalizaciones_train.csv')

In [162]:
train.head()

,Available Extra Rooms in Hospital,Department,Ward_Facility_Code,doctor_name,staff_available,patientid,Age,gender,Type of Admission,Severity of Illness,health_conditions,Visitors with Patient,Insurance,Admission_Deposit,Stay (in days)
0,4,gynecology,D,Dr Sophia,0,33070,41-50,Female,Trauma,Extreme,Diabetes,4,Yes,2966.408696,8
1,4,gynecology,B,Dr Sophia,2,34808,31-40,Female,Trauma,Minor,Heart disease,2,No,3554.835677,9
2,2,gynecology,B,Dr Sophia,8,44577,21-30,Female,Trauma,Extreme,Diabetes,2,Yes,5624.733654,7
3,4,gynecology,D,Dr Olivia,7,3695,31-40,Female,Urgent,Moderate,None,4,No,4814.149231,8
4,2,anesthesia,E,Dr Mark,10,108956,71-80,Male,Trauma,Moderate,Diabetes,2,No,5169.269637,34

In [163]:
test.head()

,Available Extra Rooms in Hospital,Department,Ward_Facility_Code,doctor_name,staff_available,patientid,Age,gender,Type of Admission,Severity of Illness,health_conditions,Visitors with Patient,Insurance,Admission_Deposit
0,3,gynecology,F,Dr Olivia,10,2858,21-30,Female,Trauma,Moderate,Other,2,No,4749.640225
1,2,TB & Chest disease,E,Dr John,4,65657,51-60,Female,Trauma,Moderate,Asthama,2,Yes,4122.261324
2,2,radiotherapy,E,Dr John,7,45598,51-60,Other,Trauma,Moderate,None,3,No,5459.067882
3,2,gynecology,F,Dr Olivia,1,31132,21-30,Female,Trauma,Moderate,None,2,Yes,3987.033318
4,2,anesthesia,A,Dr John,7,125021,51-60,Female,Trauma,Extreme,Diabetes,2,No,4770.789695

In [164]:
train.describe()

,Available Extra Rooms in Hospital,staff_available,patientid,Visitors with Patient,Admission_Deposit,Stay (in days)
count,410000.000000,410000.000000,410000.000000,410000.000000,410000.000000,410000.000000
mean,3.639376,5.020946,63095.940020,3.552520,4723.419239,12.378193
std,2.701702,3.158018,41686.175937,2.247459,1047.420292,7.905618
min,0.000000,0.000000,-3146.000000,0.000000,1654.005148,3.000000
25%,2.000000,2.000000,25405.000000,2.000000,4072.638351,8.000000
50%,3.000000,5.000000,57736.000000,3.000000,4627.488745,9.000000
75%,4.000000,8.000000,103278.250000,4.000000,5092.349430,11.000000
max,24.000000,10.000000,134400.000000,32.000000,10104.726390,51.000000

In [165]:
# Se revisa la cantidad de datos nulos 
train.isnull().sum()

Available Extra Rooms in Hospital    0
Department                           0
Ward_Facility_Code                   0
doctor_name                          0
staff_available                      0
patientid                            0
Age                                  0
gender                               0
Type of Admission                    0
Severity of Illness                  0
health_conditions                    0
Visitors with Patient                0
Insurance                            0
Admission_Deposit                    0
Stay (in days)                       0
dtype: int64

In [166]:
train.nunique()

Available Extra Rooms in Hospital        18
Department                                5
Ward_Facility_Code                        6
doctor_name                               9
staff_available                          11
patientid                            122394
Age                                      10
gender                                    3
Type of Admission                         3
Severity of Illness                       3
health_conditions                         6
Visitors with Patient                    28
Insurance                                 2
Admission_Deposit                    409682
Stay (in days)                           49
dtype: int64

In [167]:
# Identificar cada una de las variables categoricas
cat_columns = train.select_dtypes(['object']).columns
cat_columns_test = test.select_dtypes(['object']).columns

# Conversión de las variables categoricas a numericas
train[cat_columns] = train[cat_columns].apply(lambda x: pd.factorize(x)[0])
test[cat_columns_test] = test[cat_columns_test].apply(lambda x: pd.factorize(x)[0])

train

,Available Extra Rooms in Hospital,Department,Ward_Facility_Code,doctor_name,staff_available,patientid,Age,gender,Type of Admission,Severity of Illness,health_conditions,Visitors with Patient,Insurance,Admission_Deposit,Stay (in days)
0,4,0,0,0,0,33070,0,0,0,0,0,4,0,2966.408696,8
1,4,0,1,0,2,34808,1,0,0,1,1,2,1,3554.835677,9
2,2,0,1,0,8,44577,2,0,0,0,0,2,0,5624.733654,7
3,4,0,0,1,7,3695,1,0,1,2,2,4,1,4814.149231,8
4,2,1,2,2,10,108956,3,1,0,2,0,2,1,5169.269637,34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
409995,1,0,0,4,1,63105,1,0,0,1,4,3,0,3902.291076,8
409996,5,0,0,6,5,129292,2,0,0,0,3,4,1,4771.995223,9
409997,4,0,0,4,9,11399,2,0,2,1,4,4,0,3816.994210,9
409998,10,0,0,1,10,75003,2,0,0,2,3,2,0,3841.577491,9
409999,3,0,3,6,0,128183,0,0,0,1,3,8,0,4329.046412,8

In [168]:
y=train['Stay (in days)']
x=train[['Department','Ward_Facility_Code','doctor_name','staff_available','patientid','Age','gender','Type of Admission','Severity of Illness','health_conditions', 'Visitors with Patient', 'Insurance', 'Admission_Deposit']]
x2=test[['Department','Ward_Facility_Code','doctor_name','staff_available','patientid','Age','gender','Type of Admission','Severity of Illness','health_conditions', 'Visitors with Patient', 'Insurance', 'Admission_Deposit']]

In [169]:
X_train, X_test, y_train, y_test = train_test_split(x,y)
reg = LinearRegression()
x2

,Department,Ward_Facility_Code,doctor_name,staff_available,patientid,Age,gender,Type of Admission,Severity of Illness,health_conditions,Visitors with Patient,Insurance,Admission_Deposit
0,0,0,0,10,2858,0,0,0,0,0,2,0,4749.640225
1,1,1,1,4,65657,1,0,0,0,1,2,1,4122.261324
2,2,1,1,7,45598,1,1,0,0,2,3,0,5459.067882
3,0,0,0,1,31132,0,0,0,0,2,2,1,3987.033318
4,3,2,1,7,125021,1,0,0,1,3,2,0,4770.789695
...,...,...,...,...,...,...,...,...,...,...,...,...,...
89995,0,0,3,2,43001,7,0,0,2,5,3,0,4105.795901
89996,0,0,0,8,85601,4,0,2,0,0,2,0,4631.550257
89997,0,4,3,3,22447,7,0,2,0,5,2,0,5456.930075
89998,2,2,1,1,29957,6,0,0,1,3,2,0,4694.127772
89999,0,0,4,3,45008,3,0,0,0,4,4,1,4713.868519

In [170]:
reg.fit(X_train, y_train)

LinearRegression()

In [171]:
X_test

,Department,Ward_Facility_Code,doctor_name,staff_available,patientid,Age,gender,Type of Admission,Severity of Illness,health_conditions,Visitors with Patient,Insurance,Admission_Deposit
306310,0,1,4,5,114404,4,0,0,0,4,2,1,3950.092003
304038,3,2,3,0,209,9,2,0,0,5,4,0,4027.624892
391947,0,1,4,9,32955,4,0,0,2,5,4,0,4575.567912
278698,0,0,6,1,47704,2,0,2,1,3,3,0,6200.905024
1084,0,0,0,9,123409,1,0,0,0,1,4,0,4631.220586
...,...,...,...,...,...,...,...,...,...,...,...,...,...
230085,0,3,6,9,17948,1,0,0,1,2,2,0,4059.324708
345956,0,3,6,8,74681,2,0,1,1,3,2,0,4186.493404
255301,0,0,6,3,14966,1,0,0,0,2,4,0,4640.275173
86483,1,4,2,5,125698,6,1,0,2,2,2,0,3697.290855
208133,0,0,4,6,5208,1,0,0,1,4,4,0,4331.410207

In [172]:
y_pred=reg.predict(x2)

In [173]:
y_pred

array([ 6.69101795,  9.24374802, 14.67843678, ..., 21.46076923,
       19.81943761, 11.24246637])

In [174]:
df = pd.DataFrame(y_pred)
df.columns = ['pred']
df['pred'] = round(df['pred'], 2)
df

        pred
0       6.69
1       9.24
2      14.68
3       6.36
4       9.88
...      ...
89995  19.02
89996  14.63
89997  21.46
89998  19.82
89999  11.24

[90000 rows x 1 columns]

In [175]:
df.to_csv('slgonzalezp.csv', index=False)